.navButton {
  @apply rounded-full px-6 py-2 font-inter text-lg text-white transition-all lg:px-12 lg:text-2xl;

  background: var(--main-gradient);
  background-color: orange;

  &:hover {
    @apply text-purple;
    transition: 0.2s;
    background: theme('colors.gray.400');
  }

  &:active {
    @apply translate-y-0.3 animate-pulse bg-slate-500 text-purple;
  }
}

.defaultButton {
  @apply w-[261px] rounded-full py-[18px] font-inter text-lg font-semibold text-white lg:w-[348px] lg:py-5 lg:text-2xl;
  /* background-color: theme('colors.purple'); */
  background: theme('colors.purple');

  &:hover {
    transition: 0.5s;
    background: var(--main-gradient);
  }

  &:active {
    @apply translate-y-[1px] bg-black opacity-75;
  }
}

.md {
  @apply h-12 w-[168px] py-0 font-normal md:text-base;
}

.sm {
  @apply h-8 min-w-[225px] p-0 px-2 text-xs font-bold;
}
