.navButton {
  @apply rounded-full px-6 py-2 font-inter text-lg text-white transition-all lg:px-12 lg:text-2xl;

  background: var(--main-gradient);
  background-color: orange;

  &:hover {
    @apply text-purple;
    transition: 0.2s;
    background: theme('colors.gray.400');
  }

  &:active {
    @apply translate-y-0.3 animate-pulse bg-slate-500 text-purple;
  }
}
